@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans TC', sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.n-layout-header{
  background-color: transparent !important;
}

.n-data-table-th{
  border-width: 0.5px 0.5px 0.5px 0.5px; 
  border-style: solid solid solid solid;
  border-color: red red red red;
  /* margin-bottoms: 20px !important; */
}